# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
List of available R libraries
- dplyr
- stringr
- ggplot
- caret

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

| Data Science Toools |
|---------------------|
| JupyterLab |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This is a simple arithmetic experssion to multiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Toni Toyobo